<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>weather</title>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

</head>

<body>
  <nav class="row" style="background: rgb(14, 93, 211); color: white;">
    <h1 class="col-md-3 text-center">Weather Forecast</h1>
  </nav>
  <br />
  <br />
  <center class="row">
    <h1 style="text-align: center;">Weather Forecast</h1><br>
    <form method="post" class="col-md-6 col-md-offset-3">
      {% csrf_token %}
      <div class="input-group">
        <input type="text" class="form-control" name="latitude" placeholder="latitude"><br><br>
        <input type="text" class="form-control" name="longitude" placeholder="longitude"><br><br>
        <input type="submit" value="Submit">
      </form>
  </center>

  <div class="row">
    <div class="col-md-6 col-md-offset-3">
        {% if time and temperature_2m and relativehumidity_2m and pressure_msl and precipitation and snowfall and cloudcover and cloudcover_high and cloudcover_mid and cloudcover_low and shortwave_radiation and windspeed_10m and winddirection_10m and windspeed_80m and winddirection_80m and windgusts_10m %}
          <h5>Time: {{time}}</h5>
          <h5>Temperature: {{temperature_2m}} degress</h5>
          <h5>Relative humidity: {{relativehumidity_2m}} %</h5>
          <h5>Pressure: {{pressure_msl}} hPa</h5>
          <h5>Precipitation: {{precipitation}} degrees</h5>
          <h5>Snowfall: {{snowfall}} cm</h5>
          <h5>Cloud cover: {{cloudcover}} %</h5>
          <h5>Cloud cover high: {{cloudcover_high}} %</h5>
          <h5>Cloud cover mid: {{cloudcover_mid}} %</h5>
          <h5>Cloud cover low: {{cloudcover_low}} %</h5>
          <h5>Shortwave radiation: {{shortwave_radiation}} W/m^2</h5>
          <h5>Wind speed 10m: {{windspeed_10m}} km/h</h5>
          <h5>Wind direction 10m: {{winddirection_10m}} degress</h5>
          <h5>Wind speed 80m: {{windspeed_80m}} km/h</h5>
          <h5>Wind direction 80m: {{winddirection_80m}} degrees</h5>
          <h5>Wind gusts 10m: {{windgusts_10m}} km/h</h5>
          <h5>Sun altitude: {{sun_altitude}} degrees</h5>
          <h5>Sun zenith: {{sun_zenith}} degrees</h5>
          <h5>Sun distance: {{sun_distance}} km</h5>
          <h5>Sun azimuth: {{sun_azimuth}} degress</h5>
        {% endif %}
    </div>
  </div>
</body>

</html>